html {
  background-color: #f9f6ef;
  box-sizing: border-box;
}

/* Container Styles */

.container {
  width: 960px;
  margin: 0 auto;
}

/* Text Styles */

body {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #282828;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #193497;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  max-width: 75ch;
}

.small-text {
  font-size: 0.8rem;
}

/* Link Styles */

a {
  color: #f04f1c;
}

a.recipe-name {
  color: #282828;
}

/* Button Styles */

.button {
  background-color: #f04f1c;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* List Styles */

li::marker {
  color: #f04f1c;
}

li {
  max-width: 75ch;
}

/* ---------- HOME PAGE ---------- */

/* Recipe Card Styles */

.recipe-list {
  display: flex;
}

.recipe-card {
  background-color: #fff;
  height: fit-content;
  width: 300px;
  padding: 16px;
  margin: 0 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.062), 0 6px 20px 0 rgba(51, 51, 51, 0.015);
}

.recipe-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.recipe-card.img.object-cover {
  max-width: 100%;
  object-fit: cover;
}

.recipe-name {
  padding: 8px 0 0 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  display: block;
}

.recipe-name:hover {
  color: #f04f1c;
}

.recipe-category {
  font-family: "Outfit", sans-serif;
  background-color: #f04f1c;
  color: white;
  width: fit-content;
  margin: -20px auto 0;
  padding: 8px 16px;
  text-align: center;
  display: block;
}

.recipe-category.relative {
  position: relative;  
}

/* ---------- RECIPE PAGES ---------- */

.category-tag {
  font-family: "Outfit", sans-serif;
  background-color: #f04f1c;
  color: white;
  width: fit-content;
  padding: 8px 16px;
  text-align: center;
}

.recipe-page-top h1, h4 {
  margin: 24px auto;
  line-height: 1em;
}

.recipe-page-top {
  margin: 100px 0 20px 0;
}